window {
  margin: 0px;
  border: 5px solid rgba(30, 30, 46, 0.1);
  background-color: rgba(40, 42, 54, .75);
  border-radius: 15px;
}

#input {
  padding: 4px;
  margin: 4px;
  padding-left: 20px;
  border: none;
  color: rgba(205, 214, 244, 1);
  font-weight: bold;
  background-color: rgba(30, 30, 46, 1);
  outline: none;
  border-radius: 15px;
  margin: 10px;
  margin-bottom: 2px;
}
#input:focus {
  border: 0px solid rgba(30, 30, 46, 0);
  margin-bottom: 0px;
}

#inner-box {
  margin: 4px;
  border: 10px solid rgba(30, 30, 46, 0);
  color: rgba(205, 214, 244, 1);
  font-weight: bold;
  background-color: rgba(30, 30, 46, 0);
/*  border-radius: 15px;*/
}

#outer-box {
  margin: 0px;
  border: none;
/*  border-radius: 15px;*/
  background-color: rgba(30, 30, 46, 0);
}

#scroll {
  margin-top: 5px;
  border: none;
  border-radius: 15px;
  margin-bottom: 5px;
  /* background: rgb(255,255,255); */
}

#img:selected {
  background-color: rgba(137, 180, 250, 1);
/*  border-radius: 15px;*/
}

#text:selected {
  color: rgba(0, 0, 0, 1);
  margin: 0px 0px;
  border: none;
/*  border-radius: 15px;*/
  background-color: rgba(137, 180, 250, 1);
}

#entry {
  margin: 0px 0px;
  border: none;
/*  border-radius: 15px;*/
  background-color: rgba(0, 0, 0, 0);
}

#entry:selected {
  margin: 0px 0px;
  border: none;
  border-radius: 15px;
  background-color: rgba(137, 180, 250, 1);
}
