* {
  border: none;
  border-radius: 0;
  font-family: "BlexMono Nerd Font";
  font-weight: bold;
  min-height: 0;
}

window#waybar {
  background: rgba(21, 18, 27, 0);
  color: #cdd6f4;
  font-size: 18px;
}

tooltip {
  background: rgba(30, 30, 46, 1);
  border-radius: 10px;
  border-width: 2px;
  border-style: solid;
  border-color: #cdd6f4;
}

tooltip label {
  color: #cdd6f4;
}

#workspaces button {
  padding: 5px;
  color: #a6adc8;
  padding-left: 0.5em;
  padding-right: 0.7em;
}

#workspaces button.active {
  color: #ffffff;
}

#workspaces button.focused {
  color: #a6adc8;
  background: #eba0ac;
  border-radius: 10px;
}

#workspaces button.urgent {
  color: #11111b;
  background: #a6e3a1;
  border-radius: 10px;
}

#workspaces button:hover {
  background: #11111b;
  color: #cdd6f4;
  border-radius: 10px;
}

#custom-launch_wofi,
#custom-lock_screen,
#custom-light_dark,
#custom-power_btn,
#custom-power_profile,
#custom-weather,
#custom-myhyprv,
#taskbar,
#cpu,
#disk,
#custom-updates,
#memory,
#battery,
#pulseaudio,
#network,
#clock,
#tray,
#temperature,
#workspaces,
#backlight,
#tray {
  color: #ffffff;
  background: rgba(30, 30, 46, 0.55);
  padding: 0px 10px;
  margin: 3px 0px;
  margin-top: 10px;
  border: 0px;
}

#custom-weather {
  font-family: "JetBrainsMono Nerd Font";
  color: #ffffff;
}

#backlight,
#custom-launch_wofi,
#cpu {
  border-radius: 10px 0px 0px 10px;
}

#custom-updates {
  border-radius: 10px 0px 0px 10px;
  margin-left: 0.8em;
}

#custom-updates.has-updates {
  color: #e92d4d;
}

#custom-light_dark,
#custom-power_btn,
#workspaces,
#pulseaudio.microphone,
#battery,
#disk {
  border-radius: 0px 10px 10px 0px;
  margin-right: 10px;
}

#temperature.critical {
  color: #e92d4d;
}

#backlight {
  color: #fbfadb;
}

#workspaces {
  padding-right: 0px;
  padding-left: 5px;
}

#custom-power_profile {
  color: #a6e3a1;
  border-left: 0px;
  border-right: 0px;
}

#taskbar {
  border-radius: 10px;
  margin-left: 6em;
  margin-right: 6em;
}

#taskbar button {
  background: rgba(21, 18, 27, 0);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 18, 27, 0);
}
#taskbar button:hover {
  background: rgba(30, 30, 46, 1);
  border-radius: 10px;
  border-width: 1px;
  border-style: solid;
  border-color: rgba(21, 18, 27, 0);
}

#custom-launch_wofi {
  color: #89b4fa;
  margin-left: 10px;
  border-right: 0px;
}

#pulseaudio {
  color: #fbfadb;
  border-left: 0px;
  border-right: 0px;
}

#pulseaudio.microphone {
  color: #fbfadb;
  border-left: 0px;
  border-right: 0px;
}

#battery {
  color: #a6e3a1;
  border-left: 0px;
}
